

.masterHeader{
    border-bottom:3px solid #1E90FF;
    text-align: center;
    color: white;
    background-image: url("C:/xampp/htdocs/ProjetoSUS/imagens/dna.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 230px;
}

.navbar{
    background-color: #1E90FF;
    width: 100%;
}

footer {
    background-color: #1E90FF;
    color: white;
    padding: 15px;
	clear: both; /*Limpa a confi dos dois lado (section e aside)*/ 
}

.carousel-item{
    width: 100%;
    height: 300px; /*Ajusta a largura da imagem na página no tamanho original*/
    background-repeat: no-repeat;
    background-position: center;

}

.login{
    background-color: #FF8C00; 
}